// Customizations Here (Optional)

// Bulma Import
// @import '~bulma';

/* Custom fonts */
@font-face {
    font-family: 'BlackListed';
    /*IE*/
    src: url('../fonts/blacklisted.ttf');
    /*Non-IE*/
    src: url('../fonts/blacklisted.ttf') format('truetype');
}

// @font-face {
//     font-family: 'HACKED';
//     /*IE*/
//     src: url('../fonts/HACKED.ttf');
//     /*Non-IE*/
//     src: url('../fonts/HACKED.ttf') format('truetype');
// }

@font-face {
    font-family: 'Heroes Legend';
    /*IE*/
    src: url('../fonts/heroes_legend.ttf');
    /*Non-IE*/
    src: url('../fonts/heroes_legend.ttf') format('truetype');
}

@font-face {
    font-family: 'Heroes Legend Hollow';
    /*IE*/
    src: url('../fonts/heroes_legend_hollow.ttf');
    /*Non-IE*/
    src: url('../fonts/heroes_legend_hollow.ttf') format('truetype');
}

// @font-face {
//     font-family: 'SSF4 ABUCKET';
//     /*IE*/
//     src: url('../fonts/ssf4_abucket.ttf');
//     /*Non-IE*/
//     src: url('../fonts/ssf4_abucket.ttf') format('truetype');
// }

@font-face {
    font-family: 'Android Assassin';
    /*IE*/
    src: url('../fonts/android_assassin.ttf');
    /*Non-IE*/
    src: url('../fonts/android_assassin.ttf') format('truetype');
}

@font-face {
    font-family: 'Futura Bold';
    /*IE*/
    src: url('../fonts/futura_bold.otf');
    /*Non-IE*/
    src: url('../fonts/futura_bold.otf') format('truetype');
}
@font-face {
    font-family: 'Impact';
    /*IE*/
    src: url('../fonts/impact.ttf');
    /*Non-IE*/
    src: url('../fonts/impact.ttf') format('truetype');
}
@font-face {
    font-family: 'Gotham Black Regular';
    /*IE*/
    src: url('../fonts/gotham_black_regular.ttf');
    /*Non-IE*/
    src: url('../fonts/gotham_black_regular.ttf') format('truetype');
}

html {
    overflow-y: hidden;
}